.header{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    /* position: fixed; */
    top: 0;
    display: flex;
    
}
.header-left__pro{
    height: 75px;
    line-height: 75px;
    margin-left: 15%;
    font-size: 2.5rem;
}
.header-nav{
    margin-left: 30%;
}
.header-nav__list{
    display: flex;
    height: 75px;
    line-height: 75px;
}
.nav__list-child{
    list-style: none;
    padding: 0 25px;
    font-size: 2rem;
    font-weight: 600;
}
.about-link{
    color: var(--text-color);
    text-decoration: none;
}
.nav__list-child:hover{
    cursor: pointer;
    background-color: #ececec;
}

.header-mobile{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(147, 240, 240),rgb(247, 164, 205));
    position: relative;
    z-index: 5;
}
.mobile-nav{
    display: none;
}
.header-mobile-left{
    height: 70px;
    line-height: 70px;
    font-size: 2rem;
}
.header-mobile-right{
    width: 5%;
    font-size: 2.5rem;

    
}
.header-mobile__nav-list-child-1{
    padding-top: 30px;
}
.header-mobile__nav-list-child{
    padding: 20px 0;
    list-style: none;
    border-bottom: 1px solid #999;
}
.mobile__nav-list-child-link{
    list-style: none;
    text-decoration: none;
    color: var(--Black-color);
}
.header-mobile__nav-list-child:hover{
    background-color: #999;
    cursor: pointer;
}
@keyframes navIn{
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0);
    }
}
.header-mobile__icon{
    height: 70px;
    line-height: 70px;
}
.header-mobile__nav{
    position: absolute;
    top: 0;
    z-index: 5;
    animation: navIn linear 1s;
    display: none;
}
.header-mobile__nav-list{
    height: 1200px;
    background-color: #fabebe;
    width: 230%;
    margin-left: -190%;
    text-align: center;
}

.active-nav{
    display: inline-block !important;
}

/* container */
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(147, 240, 240),rgb(247, 164, 205))  !important;
    height: 630px;
}
.container-left{
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5%;
    width: 30%;
    margin-left: 12%;
    animation: aboutIn ease 0.9s;
}
.containner-left__img{
    width: 100%;
}
.container-right{
    width: 50%;
    margin-top: 15%;
    margin-left: 18%;
    animation: aboutOut ease 0.9s;
}
.container-right__content-first{
    font-size: 3rem;
    padding: 12px 0;
}
.container-right__content-center{
    font-size: 3rem;
    color: #999;
    padding: 12px 0;
}
.container-right__content-last{
    font-size: 1.6rem;
    padding: 12px 0;
    width: 60%;
}
@keyframes aboutIn{
    from{
        transform: translateX(-155px);
    }
    to{
        transform: translateX(
            0
        );
    }
}
@keyframes aboutOut{
    from{
        transform: translateX(155px);
    }
    to{
        transform: translateX(0);
    }
}